{{#if devoured}}
<div>
{{id}}. {{burger_name}}<br/>
</div>
{{else}}
<div>
<span style="width:250px; display:inline-block;">
{{id}}. {{burger_name}}
</span>
<span style="display:inline-block">
<button class="devourIt" style="float:right;" data-id="{{id}}" data-newdevour="{{devoured}}">Devour It!</button><br/>
</span>
</div>

{{/if}}