{{#if devoured}}
<div>
{{id}}. {{burger_name}}<br/>
</div>
{{else}}
<div style="display:inline;">
{{id}}. {{burger_name}}
</div>
<button class="devourIt" style="display:inline" data-id="{{id}}" data-newdevour="{{devoured}}">Devour It!</button><br/>
{{/if}}